{{#
    @name Producten
    @desc The text component for regular styled text from Bard.
#}}

<!-- /components/_producten.antlers.html -->
<section class="relative py-24">
  <div class="container mx-auto">
    <div class="flex flex-wrap -mx-3 -mb-12 lg:-mb-16">
        {{ product }}
        <div class="w-full md:w-1/2 px-3 mb-12 lg:mb-16">
            <div class="relative pt-6 pb-6 px-6 text-center bg-blue-900">
              <span class="absolute top-0 inset-x-0 -mt-8 text-6xl text-yellow-400 font-bold">{{ increment from="1" }}</span>
                  {{ partial:typography/prose class="text-white prose-invert" }}
                    {{ text }}
                  {{ /partial:typography/prose }}
            </div>
        </div>
        {{ /product }}
    </div>
  </div>
</section>
<!-- End: /components/_producten.antlers.html -->
