{{#
    @name Producten
    @desc The text component for regular styled text from Bard.
#}}

<!-- /components/_producten.antlers.html -->
<section class="relative py-24">
  <div class="container mx-auto">
    <div class="flex flex-wrap -mx-3 -mb-12 lg:-mb-16">
      <div class="w-full md:w-1/2 px-3 mb-12 lg:mb-16">
        <div class="relative pt-6 pb-6 px-6 text-center bg-blue-900">
          <span class="absolute top-0 inset-x-0 -mt-8 text-6xl text-yellow-400 font-bold">1</span>
          <h3 class="mb-4 lg:px-10 text-lg font-bold font-heading text-white">Specialistische naschoolse opvang (50A93)</h3>
          <p class="text-gray-50">Jeugdigen van 4 tot 18 jaar die (tijdelijk) niet of niet geheel in staat zijn om naar een reguliere naschoolse/buitenschoolse opvang te gaan.</p>
        </div>
      </div>
      <div class="w-full md:w-1/2 px-3 mb-12 lg:mb-16">
        <div class="relative pt-6 pb-6 px-8 text-center bg-blue-900">
          <span class="absolute top-0 inset-x-0 -mt-8 text-6xl text-yellow-400 font-bold">2</span>
          <h3 class="mb-4 text-lg font-bold font-heading text-white">Jeugdhulp voor opgroeiproblematiek bij het jonge kind (41A03)</h3>
          <p class="text-gray-50">Jonge kinderen tot ongeveer 6 jaar met een ernstige ontwikkelingsachterstand en/of verstandelijke- en/of lichamelijke beperking.</p>
        </div>
      </div>
      <div class="w-full md:w-1/2 px-3 mb-12 lg:mb-16">
        <div class="relative pt-6 pb-6 px-6 text-center bg-blue-900">
          <span class="absolute top-0 inset-x-0 -mt-8 text-6xl text-yellow-400 font-bold">3</span>
          <h3 class="mb-4 lg:px-10 text-lg font-bold font-heading text-white">Weer terug naar school (41B03)</h3>
          <p class="text-gray-50">Jeugdigen die tijdelijk of gedeeltelijk niet in staat zijn om (speciaal) basisof voortgezet onderwijs te volgen. Perspectief is terug naar (een vorm van) onderwijs.</p>
        </div>
      </div>
      <div class="w-full md:w-1/2 px-3 mb-10">
        <div class="relative pt-6 pb-6 px-6 text-center bg-blue-900">
          <span class="absolute top-0 inset-x-0 -mt-8 text-6xl text-yellow-400 font-bold">4</span>
          <h3 class="mb-4 lg:px-10 text-lg font-bold font-heading text-white">Begeleiding individueel (41B03/50A82/50A83)</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End: /components/_producten.antlers.html -->
