{{#
    @name Footer
    @desc The sites footer rendered on each page.
#}}

<!-- /layout/_footer.antlers.html -->
<div class="w-full">
  <img src="/images/back-line.jpg" class="w-full" />
</div>
<section class="relative py-12 bg-primary">
  <div class="container px-4 mx-auto">
    <div class="max-w-4xl mx-auto text-center">
      <h2 class="mt-8 mb-6 text-4xl lg:text-3xl font-bold text-white">Contact ons</h2>
      <div class="bg-[url('data:image/svg+xml;utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20width%3D%2212px%22%20height%3D%2210px%22%20viewBox%3D%220%200%2018%2015%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cpolygon%20id%3D%22Combined-Shape%22%20fill%3D%22%23ffc231%22%20points%3D%228.98762301%200%200%209.12771969%200%2014.519983%209%205.40479869%2018%2014.519983%2018%209.12771969%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E')] h-2 w-60 mb-5 mx-auto bg-repeat-x"></div>
      <p class="max-w-3xl mx-auto mb-10 text-md text-white">Wil je contact opnemen met ons?</p>
      <a href="/contact" class="inline-block w-full md:w-auto mb-4 md:mr-6 py-3 px-6 text-sm font-bold border-2 border-transparent hover:bg-blue-900 hover:text-white text-blue-900 transition duration-200 bg-white rounded-3xl">Neem direct contact op</a>
    </div>
  </div>
</section>
<footer class="py-24 bg-neutral">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap -mx-4 mb-10">
      <div class="w-full px-4">
        <div class="flex flex-wrap -mx-4">
          <div class="w-1/2 lg:w-1/5 px-4 mb-4">
            <h3 class="mb-4 font-bold text-white">Menu</h3>
            <ul class="text-sm">
              <li class="mb-4"><a class="text-white hover:text-yellow-400" href="/">Home</a></li>
              <li class="mb-4"><a class="text-white hover:text-yellow-400" href="/over-ons">Over ons</a></li>
              <li class="mb-4"><a class="text-white hover:text-yellow-400" href="/diensten">Diensten</a></li>
              <li class="mb-4"><a class="text-white hover:text-yellow-400" href="/producten">Voor de verwijzers</a></li>
              <li class="mb-4"><a class="text-white hover:text-yellow-400" href="/contact">Contact</a></li>
            </ul>
          </div>
          <div class="w-1/2 lg:w-2/5 px-4 mb-4">
              <h3 class="mb-4 font-bold text-white">Voorwaarden & Reglementen</h3>
              <ul class="text-sm">
                <li class="mb-4"><a class="text-white hover:text-yellow-400" href="/files/algemene-voorwaarden-2021-samen.pdf" target="_blank">Algemene voorwaarden</a></li>
                <li class="mb-4"><a class="text-white hover:text-yellow-400" href="/files/leveringsvoorwaarden-samen-2021.pdf" target="_blank">Leveringsvoorwaarden</a></li>
                <li class="mb-4"><a class="text-white hover:text-yellow-400" href="/files/huisreglement-samen-2021.pdf" target="_blank">Huisreglement</a></li>
                <li class="mb-4"><a class="text-white hover:text-yellow-400" href="/files/privacyreglement27112019.pdf" target="_blank">Privacy reglement</a></li>
              </ul>
          </div>
          <div class="w-1/2 lg:w-2/5 px-4 mb-4">
            <h3 class="mb-4 font-bold text-white">Contact</h3>
            <ul class="text-sm">
              <li class="mb-4 flex flex-col">
                  <span class="text-white">Opstal 7</span>
                  <span class="text-white">5735 CA Aarle-Rixtel</span>
              </li>
              <li class="mb-4 flex flex-col">
                <a href="mailto:info@samenjeugdbegeleiding.nl" target="_blank" class="text-white hover:text-yellow-400">info@samenjeugdbegeleiding.nl</a>
                <a href="tel:0610042163" target="_blank" class="text-white hover:text-yellow-400">0610042163</a>
              </li>
            </ul>
            <h3 class="mb-4 font-bold text-white">Openingstijden</h3>
            <ul class="text-sm">
              <li class="mb-4 flex flex-col">
                  <span class="text-white">Maandag t/m vrijdag</span>
                  <span class="text-white">8.30 tot 18.00</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap items-start pt-10 border-t border-blue-500">
      <div class="w-full lg:w-1/2">
        <p class="hidden lg:block text-sm text-white">
            &copy; {{ configuration:copyright_since }}
            {{ unless (now | format('Y')) == configuration:copyright_since }}
                - {{ now | format('Y') }}
                {{ /unless }}
            {{ configuration:copyright_name ?? config:app:name }}
        </p>
      </div>
      <div class="w-full lg:w-1/2">
        <div class="flex lg:justify-end mb-6 lg:mb-0">
            {{ if social_media:social_media }}
                <div class="flex space-x-2">
                    {{ social_media:social_media }}
                        <a class="inline-flex items-center" href="{{ prefix }}{{ handle }}" rel="noopener{{ type == 'mastodon' ?= ' me' }}" aria-label="{{ config:app:name }} {{ trans:strings.on }} {{ type | title }}" target="_blank">{{ svg :src="type" class="w-4 h-4 overflow-visible fill-white hover:fill-yellow-400" alt="" aria-hidden="true" sanitize="true" }}</a>
                    {{ /social_media:social_media }}
                </div>
            {{ /if }}
        </div>
        <p class="lg:hidden text-sm text-white">
            &copy; {{ configuration:copyright_since }}
            {{ unless (now | format('Y')) == configuration:copyright_since }}
                - {{ now | format('Y') }}
                {{ /unless }}
            {{ configuration:copyright_name ?? config:app:name }}
        </p>
        {{# Let's users reset their cookie consent when you use the cookie banner. #}}
        {{ yield:reset_cookie_consent }}
      </div>
    </div>
  </div>
</footer>
<!-- End: /layout/_footer.antlers.html -->
